@page "/validation-policies"
@using Kysect.Zeya.Dtos

<PageTitle>Policies</PageTitle>
<h1>Policies</h1>

<FluentStack Orientation="Orientation.Horizontal">
    <FluentButton IconStart="@(new Icons.Filled.Size24.Add())"
                  Appearance="Appearance.Accent"
                  OnClick="@(() => _navigationManager.NavigateTo("/validation-policies/create"))">
        Create
    </FluentButton>
</FluentStack>

<FluentDataGrid Loading="true" ItemsProvider="_policyProvider" Virtualize="true" ItemSize="46" GenerateHeader="GenerateHeaderOption.Sticky" TGridItem="ValidationPolicyDto">
    <PropertyColumn Title="ID" Property="@(c => c.Id)" />
    <PropertyColumn Property="@(c => c.Name)" />
    <TemplateColumn Title="Actions" Align="@Align.End">
        <FluentButton aria-label="Edit" IconEnd="@(new Icons.Regular.Size16.Edit())" Appearance="Appearance.Accent" OnClick="() => EditPolicy(context.Id)" />
    </TemplateColumn>
</FluentDataGrid>
