@page "/validation-policies/{PolicyId:guid}/add-ado-repository"

@using Microsoft.AspNetCore.Components.Forms

<PageTitle>Add Azure DevOps repository</PageTitle>
<h1>Add Azure DevOps repository</h1>

<EditForm Model="@_formData" OnValidSubmit="@AddPolicyRepository">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="collection">Collection</label>
        <InputText id="collection" class="form-control" @bind-Value="_formData.Collection" />
        <ValidationMessage For="@(() => _formData.Collection)" />
    </div>
    
    <div class="form-group">
        <label for="project">Project</label>
        <InputText id="project" class="form-control" @bind-Value="_formData.Project" />
        <ValidationMessage For="@(() => _formData.Project)" />
    </div>
    
    <div class="form-group">
        <label for="repository">Repository</label>
        <InputText id="repository" class="form-control" @bind-Value="_formData.Repository" />
        <ValidationMessage For="@(() => _formData.Repository)" />
    </div>
    
    <div class="form-group">
        <label for="mask">Solution path mask (default "*.sln")</label>
        <InputText id="mask" class="form-control" @bind-Value="_formData.SolutionPathMask" />
        <ValidationMessage For="@(() => _formData.SolutionPathMask)" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>