@page "/validation-policies/{PolicyId:guid}/add-github-repository"

@using Microsoft.AspNetCore.Components.Forms

<h3>Add Github repository</h3>

<EditForm Model="@_formData" OnValidSubmit="@AddPolicyRepository">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="owner">Github owner</label>
        <InputText id="owner" class="form-control" @bind-Value="_formData.GithubOwner" />
        <ValidationMessage For="@(() => _formData.GithubOwner)" />
    </div>

    <div class="form-group">
        <label for="repository">Github repository name</label>
        <InputText id="repository" class="form-control" @bind-Value="_formData.GithubRepository" />
        <ValidationMessage For="@(() => _formData.GithubRepository)" />
    </div>
    
    <div class="form-group">
        <label for="mask">Solution path mask (default "*.sln")</label>
        <InputText id="mask" class="form-control" @bind-Value="_formData.SolutionPathMask" />
        <ValidationMessage For="@(() => _formData.SolutionPathMask)" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>